* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	background-image: linear-gradient(120deg, #e0ddd2, #a5a1a0);
	color: #000;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}

#menu {
	padding: 20px;
	border-bottom: 1px solid #000;
}

.sideMenuLink {
	text-decoration: none;
	color: forestgreen;
	font-weight: bold;
	margin-right: 20px;
}

.sideMenuLink:hover {
	color: darkcyan;
}

#ovBTN_Login {
	margin-top: 10px;	
}

#container-login {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 15%;	
}

#div-ident-empresa{
	background-color: gray;
	color: #ffff;
	padding: 5px;
	font-size: 12px;
}

#div_ident_user {
	padding: 5px;
	font-size: 12px;
	text-align: right;
}

