.pull-right {
	text-align: right;
}

#ovBTN_Login {
	margin-top: 10px;	
}

#container-login {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 15%;	
}

#div-ident-empresa{
	background-color: gray;
	color: #ffff;
	padding: 5px;
	font-size: 12px;
}

#div_ident_user {
	background-color: darkgray;
	padding: 5px;
	font-size: 12px;
	text-align: right;
}

#menu-lateral{
	background-color: #ccc;
}

#pagina-filha{
	background-color: cadetblue;
}

.sideMenuLink {
	text-decoration: none;
	color: forestgreen;
	font-weight: bold;
}

.sideMenuLink:hover {
	color: darkcyan;
}

input[type="checkbox"] {
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
	margin-left: 10px;
}

.form-control:focus,
input[type="checkbox"]:focus {
	border-color: #5cb85c;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px #5cb85c;
	outline: 0 none;
}